.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.container{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

h2{
	color: #fff !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3.5rem;
	text-shadow: 3px 0px #333;
}

p{
	color: #004342 !important; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align:justify;
}

.container {
      padding: 80px 120px;
	     padding-bottom:0px;
	   padding-top:10px;
      /*! padding-bottom: 0px !important; */
}
.person {
      border: 0px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
      box-shadow: 5px 5px 15px #003837;
}
  
.reducedPadding{
      padding: 0px !important;
}

/*Navigation container style*/
.navcontainer .sapMIBar.sapMHeader-CTX{
	background-color: transparent !important;
}

.navcontainer .sapMPageHeader::before{
    border: 0px !important;
}

#master--idIconTabBarFiori2--header{
	background-color: #5cb85c;
}

/* Reduce padding in object header section*/
.sapMOH{
	padding-top: 0px !important;
	padding-bottom: 0.5rem !important;
}

.customBlockCell .sapUiBlockCellContent{
	padding-left: 0px !important;
}

.alignRight{
	float: right !important;
}

.roundImage{
	border-radius: 50%;
}

.customVbox{
	margin: auto !important;
}

.jumbotron{
	background-image: url('../img/oneStepBack_cover.jpeg');
	background-size: cover;
	height: 100vh;
}

.jumbotron h1{
	padding-top: 15%;
	font-size: 3.5rem;
	font-weight: 200;
	font-family: Catamaran,Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	color: white;
	text-shadow: 4px 0px #333;
}

.canvasjs-chart-canvas{

}

.sapUiGlobalBackgroundColor, .sapMGlobalBackgroundColor{
	background-color: #a4b9ca !important;
	background-image:url('../img/oneStepBack_cover.jpeg');
	background-size:cover !important;
	
}

.aboutSection{
	background-color: transparent;
	background-size: cover;
	padding-top: 10%;
    height: 100vh;

}
}

.calculator{
	background-color: #e7ffff;
	opacity: 0.8 !important;
	box-shadow: 0px 7px 10px #003837
}

.switch{
    line-height: 3rem !important;
}

.footer{
	background-color: #d0e5ec !important;
	
}


/* custom filterbar colors*/
.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected > .sapMITBText{
	color: white !important;
font-weight: 800;
}

.sapMITBTextOnly .sapMITBFilterDefault > .sapMITBText{
	color:white !important;
}

/* Initial page*/
.customLayout{
	background-image: url('../img/pexels-photo-167698.jpeg');
	padding: 5%;
	height: 100vh;
}

.customText .sapMOHTitle h1 .sapMText {
    color: #fff;
     font-size: 2.5rem;
	text-shadow: 1px 1px 15px #333;
	font-weight: 700;
}

.sapMObjectNumberStatusNone{
	color: #fff;
}

.sapMOHNumberDiv .sapMObjectNumberText{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 2.375rem;
	font-weight: normal;
}